
.container {
  opacity: 1;
}

.header {
  height: 20rem; // get rid of this later
  width: 100%;
  background: black;
  position: fixed;
  color: white;
  font-size: 17rem;
  text-align: center;
  text-transform: uppercase;
}

.about {
  padding-top: 20rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pics {
  background: black;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  max-width: 100vw;
  overflow: hidden;
}

.footer {
  height: 20rem;
  background: black;
}

.img {
  background: gray;
  min-width: 50%;
  transition: all 2s;
}

.img1 {
  background: beige;
  min-width: 50%;
  transition: all 2s;
  transform: translateY(-10px);
}

.img2 {
  background: yellow;
  min-width: 50%;
  transition: all 2s;
  transform: translateY(-20px);
}

.video {
  height: 100vh;
  background: black;
}

.fade {
  transform-origin: 0 0;
  transform: perspective(500px) scale(0.95) rotateZ(2deg) rotateX(-2deg);
}
